body {
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

li{
  font-size: 18px;
  color: #e5e7eb;
  list-style-type: none;
  margin-bottom: 16px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;

}

a,
.hero-subtext{
    color: #e5e7eb;
    font-size: 18px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.header{
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
.logo{
    font-size: 24px;
    color: #f9faf8
}

.hero{
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 60px;
}

img {
    height:auto;
    width: 500px;
    display: flex
}

.hero-left{
    display:flex;
    flex-direction: column;
}

.hero-text{
    font-size: 48px; 
    font-weight: 900;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    width: 200px;
    height: 30px;
    margin-top: 8px;
    border-radius: 8px;
}

